@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    overflow-x: hidden;
}
.home{
    background: linear-gradient(to top, rgba(0,0,0,.5)50%, rgba(0,0,0,.5)100%), url(/logos/logo1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    position: relative;
}
header{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}
header .logo{
    color: #fff;
    height: 50px;
    margin-right: auto;
}
header .logo span{
    color: #ec9f68;
}
header .menubtn{
    cursor: pointer;
    margin-right: 15px;
    display: none;
}
header .menubtn img{
    filter: invert(1);
}
header .navbar a{
    color: #fff;
    text-transform: capitalize;
    margin-right: 15px;
    position: relative;
}
header .navbar a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 3px;
    background: #ec9f68;
    transition: .2s linear;
}
header .navbar a:hover::before{
    width: 100%;
}
.btn{
    padding: 10px 15px;
    background: #ec9f68;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.home .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7rem;
}
.home .wrapper h1{
    color: #fff;
    font-size: 2rem;
}
.home .wrapper p{
    color: #fff;
    font-size: 1rem;
    padding: 10px 0;
}
.home .wrapper .buttons 
.buttons{
    margin-top: 1rem;
}
.btn2{
    padding: 8px 15px;
    color: #ec9f68;
    border: 2px solid #fff;
}

/*---------------------------Status------------------------*/

.status{
    padding: 0 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -150px;
}
.status .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 1.5rem;
}
.status .box-container .box{
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.status .box-container .box h2{
    font-size: 3rem;
    color: #202022;
}
.status .box-container .box p{
    padding: 10px 0;
    font-size: 1rem;
}

/*-------------------------Reviews-------------------------*/

.heading{
    text-align: center;
}
.heading span{
    font-size: 15px;
    color: #ec9f68;
}
.heading h3{
    font-size: 2rem;
    color: #202022;
    font-weight: 500;
}
.reviews{
    padding: 20px 50px;
    margin-top: 10rem;
}
.reviews .heading span{
    font-size: 25px;
}
.reviews .heading h3{
    font-size: 15px;
}
.reviews .clients-reviews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}
.reviews .clients-reviews .review{
    padding: 1.5rem;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.review .info{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}
.review .info img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.review .info .row h1{
    font-size: 1.3rem;
    font-weight: 500;
}
.review .info .row span{
    font-size: 12px;
    color: #ec9f68;
}
.copy{
    background: #ec9f68;
    padding: 8px;
    text-align: center;
    color: #fff;
}
.gotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 1.9rem;
    width: 1.9rem;
    line-height: 1.9rem;
    border-radius: 3px;
    background: #ec9f68;
    text-align: center;
    display: none;
}
.gotop img{
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    filter: invert(1);
}
.gotop.active{
    display: block;
}

/* responsive */
@media (max-width: 700px) {
    .home{
        height: 25rem;
    }
    .home header{
        padding: 10px;
    }
    header .btn{
        display: none;
    }
    header .menubtn{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 10%; left: 0; right: 0;
        background: #fff;
        padding: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        color: #202022;
        font-size: 18px;
        margin: 10px 0;
    }
    header .navbar a::before{
        display: none;
    }
    .home .wrapper{
        text-align: center;
        margin-top: 8rem;
    }
    .home .wrapper h1{
        font-size: 1.2rem;
    }
    .home .wrapper p{
        font-size: .8rem;
        width: 90%;
    }
    .home .status {
        display: flex; 
        flex-wrap: wrap; 
        gap: 10px; 
        padding: 10px; 
        justify-content: center; 
    }
    .about-section,
    .mission,
    .team {
      text-align: center;
      padding: 100px 20px;
      background-color: rgba(
        0,
        0,
        0,
        0.5
      ); /* Semi-transparent background for readability */
      margin: 50px 20px;
      border-radius: 10px;
    }


}
.about-section h1,
.mission h2,
.team h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.about-section p,
.mission p,
.team p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 40px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

/*-------------------------Contact US---------------------------- */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333; /* You might want to add a background color for visibility */
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: space-between; /* Adjust alignment between contact info and form */
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center; /* Align icons and text vertically */
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px) 
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%; /* Adjust the width for smaller screens */
    }
}




 